/*start global rules*/
*{
    ..-webkit-box-sizing:border-box;
    ..-moz-box-sizing:border-box;
    ..box-sizing:border-box;
}
body{
    font-family: "work sans", sans-serif;
}
/*end global rules*/
.parent{
    background-color: #EEE;
    width:600px;
    margin: auto;

}
.cointainer{
    padding-left: 15px;
    padding-right: 15px;
    width:600px;
    margin: auto;
    background-color: #aaa;

}